.top-header{
    background-color: #FFFBF0;
}
.btn{
    background-image: linear-gradient(#A4BC46, #85A019 
    );
    width: 150px;
   
}

.products h3{
    margin-top: 30px;
    font-size: 48px;
}
.product-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    
    padding: 3px 3px;
    color: #FABE4C;
    font-size: 30px;
    font-weight: bolder;
}
.to-top{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    
    padding: 10px;
}
.to-top a{
    color: #fff;
    background-image: linear-gradient(90deg, #1c0dee, #d14cfa);
    text-decoration: none;
    border-radius: 100px;
    padding: 10px;
}
/* .feature-img img{
    width: 100%;
 } */